
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --borderRadius: 8px;

  --main-font: "Barlow Condensed";
  --text-font: "Inter";

  --red: #F81B1B;
  --border-color: #BAB8B8;
  --main-color:#373535;
  --primary-color: #09549C;
  --primary-color-hover: #106BC0;
  --primary-color-click: #094177;
  --text-color-dark: #474242;
  --text-color-light: #f4f4f4;

}