.flexDiv {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  font-family: var(--main-font);
  color: var(--text-color-dark);
}

.cartSummaryDiv {
  order: 1;
}

.heading {
  font-family: var(--main-font);
  font-size: 1.9rem;
  margin-bottom: 1.5rem
}

h2 {
  font-family: var(--main-font);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.itemInfo {
  font-family: var(--text-font);
  color: var(--text-color-dark);

}

.product-title {
 color: var(--text-color);
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}


.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

  /* margin-right: 1rem; */
}

.product-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* margin-right: 2rem; */
  width: 100%;

}

.productContainer img {
  width: 6rem;
  aspect-ratio: 1 / 1;
  margin-left: 0.5rem;
  margin-block: 0.5rem;
}

.cartText {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  align-items: left;
  color: var(--text-color);
}

.priceContainer {
  display: flex;
  flex-direction: row;
}

.quantityDiv {
  display: flex;
  margin-block: 0.5rem;
  flex-direction: row;
  /* border: 2px solid red; */


}

.quantityInput {
  width: 2rem;
  height: 10px;
  border-color: var(--border-color);
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-color-dark);
  padding: 12px 4px;
  /* border-radius:  */
  /* var(--borderRadius); */
  /* height: 20px; */
}

.quantityInput {
  /* width: 3rem;
  border-radius: 0px;
  height: 1.9em;
  padding-inline: 0.3rem; */
}

.quantityBtn {
  background-color: transparent;
  color: black;
  /* padding: 0.1em 0.4em; */
  /* font-size: 1.4em; */
  /* position: relative; */
  height: 100%;
  border: none;
  width: 30px;
  height: 30px;
  /* border: 2px solid red; */
}

.quantityBtn svg {
  height: 1rem;
}

.minusBtn {
  /* border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-inline: 0.5em;
  padding-top: 0em;
  padding-bottom: 0.2em; */
}

.plusBtn {
  /* border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; */
}



.icon-tabler-trash {
  height: 30px;
  width: 30px;
  stroke: var(--text-color-dark);
  position: relative;
}

.removeBtn {
  position: absolute;
  right: 25px;
  border: none;
  background-color: transparent;
  /* margin-left:2rem */
}

.removeBtn:active {
  transform: translateY(2px);
}

.noItems {
  font-size: 1.2rem;
  font-family: var(--main-font);
  padding-block: 2rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  text-align: center;
}

#removeAllItems{
  margin-inline: 0 auto;
  margin-top: 2rem;
  border: 2px solid var(--border-color);
  border-radius: var(--borderRadius);
  padding: 0.5rem;
  background:transparent;
  font-family: var(--text-font);
  font-size: 0.9rem

}

#removeAllItems:hover{
background-color: rgb(215, 215, 215)
}


/* ---- side bar ----*/
.orderSummaryDiv {
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  border: none;
  padding: 1rem;
  order: 2;
  margin-top: 2rem;

}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.flexBetween a {
  color: var(--border-color);
  font-family: var(--text-font);
  font-size: 0.8rem;
  text-decoration: underline;
}

.flexBetween a:hover {
  color: var(--border-color);
  text-decoration: underline;
}

.orderInfo {
  font-family: var(--text-font);
  font-size: 1rem;
  /* font-weight: bold; */
  margin-top: 2rem;
}

hr {
  /* border: 1px solid var(--border-color); */
}

.dividerHrCart {
  display: none;
  /* border: 1px solid var(--border-color); */
}

.cartpageBtn {
  margin-top: 3rem;
  margin-inline: auto;
  font-family: var(--main-font);
  font-size: 1.2rem;
  display: inline-block;
}

.disabled {
  opacity: 0.4;
}

.disabled:hover {
  cursor: not-allowed;
}

.backToBtnDivCart {
  order: 3;
  padding-top: 2rem;
  /* color: var(--text-color-dark) */

}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .flexDiv {
    flex-direction: row;
    position: relative;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 9rem;
  }

  .productContainer {
    width: clamp(25rem, 50vw, 60rem);

  }

  .productContainer img {
    width: 4rem;
    aspect-ratio: 1 / 1;
    margin-left: 0.5rem;
    margin-block: 0.5rem;
  }

  .itemInfo {
    align-self: center;
  }

  .priceContainer {
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 2rem;

  }

  .product-title {
    flex: 1
  }

  .quantityDiv {
    display: flex;
  }

  .cartText {
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }

  .removeBtn {
    position: static;
    margin-left: 1rem;
  }

  .cartSummaryDiv {
    margin-inline: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .orderSummaryDiv {
    border: 1px solid var(--border-color);
    padding: 2rem;
    order: 2;
    min-width: 23rem;
    align-self: flex-start
  }

  .backToBtnDivCart {
    position: absolute;
    bottom: -5rem;
    left: 5%;
  }

  .dividerHrCart {
    display: none;
  }
}